@page
@model SerenUP.Intranet.Pages.DashboardModel

@{
    ViewData["Title"] = "Dashboard";
}

<html>
<head>
</head>
<body>
    <div class="container">
    <div class="row">
        <h1 class="text-white text-center bg-danger"> Dashboard</h1>
        </div>

    <div class="row mt-10">
                   

             <div class="col">
            <div class="card text-center  align-middle mb-3 " style="font-size: 20px;">
  <div class="card-header">ORDINI DA EVADERE</div>
  <div class="card-body">
    <h1 class="card-title">NUMERO</h1>

  </div>
</div>
   </div>
   

               <div class="col">
            <div class="card text-center  align-middle mb-3" style="font-size:20px;">
  <div class="card-header">PRODOTTI DISPONIBILI</div>
  <div class="card-body">
    <h1 class="card-title">NUMERO</h1>
  </div>

   </div>
   </div>

               <div class="col">
            <div class="card text-center  align-middle mb-3" style="font-size:20px;">
  <div class="card-header">PEZZI IN MAGAZZINO</div>
  <div class="card-body">
    <h1 class="card-title">NUMERO</h1>
  </div>
</div>
   </div>
                


    </div>
    </div>
    </div>
</body>
</html>
