@page
@model SerenUP.Intranet.Pages.OrderListModel
@{ 
    ViewData["Title"] = "Lista Ordini";

}
   
<html>
<body>

    <div class="container">

        <div class="row text-center">
            <div class="col-lg-7 mx-auto">
                <h1 class="display-4">Lista Ordini</h1>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-white bg-warning" >NUMERO ORDINE </th>  
                    <th scope="col" class="text-white bg-warning"> CODICE ARTICOLO</th>
                    <th scope="col" class="text-white bg-warning">DATA</th>
                    <th scope="col" class= "text-white bg-warning "> STATO SPEDIZIONE</th>
                </tr>
            </thead>
    
        </table>
    </div>
</body>
</html>
