@page
@model SerenUP.Intranet.Pages.ProductDetailModel
@{
      ViewData["Title"] = "Dettaglio prodotto";
}




<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
               <h1>Dettaglio prodotto</h1>
            </div>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-7"> <img src="https://i.imgur.com/KFojDGa.jpg"width="70%" height="75%"> </div>
               
                         <div class="col-md-5 p-0 klo">
                             <div class="col-md-5">
                  <div class="btn-disponibilita  " id="disponibile">
                                <p>Disponibile <i class="fas fa-check-circle" style=" padding-left:10px;font-size:25px;color:white;vertical-align:middle;padding-top:2px"></i></p>
                           </div>
                            <div>
                                 <div class="btn-indisponibilita"" id="non-disponibile">
                                <p>Non disponibile@* <i class="fas fa-check-circle" style=" padding-left:10px;font-size:25px;color:white;vertical-align:middle;padding-top:10px"></i>*@</p>
                           </div>
                           
                           </div>
                           </div>
                           <ul>
                    <div class="col-md-6">
                    <li> <h5>Nome</h5><p>Cinturino gold</p></li>
                    <li><h5>Codice articolo</h5><p>0000004</p></li>
                    </div>

                    <div class="col-md-6">
                    <li><h5 >Modello</h5><p>modello</p></li>
                    <li><h5>Quantità</h5><p >numero</p></li>
                    </div>

                    


                    </ul>
                    
                    
                    <div class="col-6">
                     <textarea placeholder="descrizione" class="col-12"></textarea>
                     <div>
                
                          
                               
                             

                            
                    </div>
                    </div>
            </div>
        </div>
    </div>
   @* <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <div class="col-md-2 myt des"><a href="#">Description</a></div>
            <div class="col-md-2 myt "><a href="#">Review</a></div>
            <div class="col-md-2 mio offset-md-4"><a href="#">ADD TO CART</a></div>
            <div class="col-md-2 myt "><button type="button" class="btn btn-outline-warning"><a href="#">BUY NOW</a></button></div>
        </div>
    </div>*@
</div>



  


