@page
@model SerenUP.Intranet.Pages.ProductDetailModel
@{
    ViewData["Title"] = "Dettaglio prodotto";
}




<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1>Dettaglio prodotto</h1>
            </div>
        </div>
    </div>

    <div class="container-body mt-4">
        <a class="nav-link text-dark" asp-area="" asp-page="/ProductList"> Back </a> 
        <div class="row r3">
            <div class="col-md-7"><img src="https://i.imgur.com/KFojDGa.jpg" width="70%" height="75%"></div>


            <div class="col-md-5 p-0 klo">
                <div class="col-md-5 offset-1">
                    <div class="btn-disponibilita  " id="disponibile">
                        <p>Disponibile <i class="fas fa-check-circle" style=" padding-left:10px;font-size:25px;color:white;vertical-align:middle;padding-top:2px"></i></p>
                    </div>
                    <div>
                        <div class="btn-indisponibilita" id="non-disponibile">
                            <p>Non disponibile</p>
                        </div>

                    </div>
                </div>


                <div>
                    <ul>
                        <div class="col-md-6">

                        <li><label class="col-md-2">Nome</label>
                        <input type="text"  name="first" class="col-lg-12 font-uppercase " placeholder="{{Nome}}"/></li>

                         <li><label class="col-md-2">Codice articolo</label>
                        <input type="text"  name="second" class="col-lg-12 font-uppercase " placeholder="{{000004}}"/></li>

                         <li><label class="col-md-2">Modello</label>
                        <input type="text"  name="third" class="col-lg-12 font-uppercase " placeholder="{{modello}}"/></li>

                       </div>
                    </ul>
                </div>

            <div class="col-6 descrizione-label offset-1">
                <textarea placeholder="descrizione" class="col-12"></textarea>
            </div>
        </div>
    </div>
</div>