html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin-bottom: 60px;
}

.hidden {
    display:none;
}

.index_btn {
    margin: 30px;
    margin-top: 50px;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.icon {
    margin: 80px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px;
}

.icon_cart {
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px;
}

.icon:hover {
    margin: 60px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#table_cart {
    
}

.tr_cart {
    height:150px;
    border-bottom:solid;
}

.th_cart {
    width: 150px;
    text-align: center;
}

.icon_details {
    margin: 80px;
    width: 300px;
    height: 300px;
}

.text_details {
    margin-left:80px;
}

.gold_series {
   margin-top:50px;
   marign-bottom:20px;
}

.td_cart {
    min-width: 320px;
    min-height: 50px;
    text-align:center;
}

.inline {
    display:inline;
}

.input_registration {
    min-width:300px;
    min-height:50px;
}

#orologi_btn {
    background-image: url('../Pictures/Orologi/Gold/Nero.png');
}

#accessori_btn {
    background-image: url('../Pictures/Accessori/Cinturini/Cinturino_nero.png');
}


#orologi_btn:hover{
   opacity: 0.5;
}
#orologi_btn:hover + .hidden{
    display:block;
}

#accessori_btn:hover {
    opacity: 0.5;
}
