@page
@model SerenUP.WebApp.Pages.Shop.Prodotto_non_trovatoModel
@{
     ViewData["Title"] = "Prodotto non disponibile";
}


<div class="text-center">
    <h1 class="display-4">Il prodotto selezionato non è momentaneamente disponibile</h1>
</div>
