@page
@model SerenUP.WebApp.Pages.Shop.Registrazione_ProdottoModel
@{
}

<div id="orologi_body" class="text-center">
    <h1 class="display-4">Attiva qui il tuo prodotto</h1>
        <div>            
            <div>
                <h5 style="margin-bottom:100px">Per sboccare tutte le funzionalità registra il prodotto</h5>
                <form>
                    <h6>Numero di serie</h6>
                    <input class="input_registration" type="text" /><br /><br />
                    <h6>Codice personale</h6>
                    <input class="input_registration" type="text" /><br /><br />
                    <button class="input_registration" style="border-radius:10px;" id="register_btn" type="submit">Attivami</button>
                </form>             
             </div>
        </div>
</div>