@page
@model SerenUP.WebApp.Pages.Shop.Shop_AccessoriModel
@{
}

<div id="orologi_body" class="text-center">
    <h1 class="display-4">Rendimi più bello e più utile come non mai!</h1>
    <div>
        <div>
            <h5 class="gold_series">Accessori universali</h5>
            <h5>Per rendere la tua esperienza di utilizzo migliore!</h5>
            <span>
                <a asp-page="Details/Details_Accessorio" asp-route-Name="Cinturino" asp-route-Color="Arancione">
                    <img class="icon" src="../Pictures/Accessori/Cinturino/Arancione.png" />
                </a>
            </span>
            <span>
                <a asp-page="Details/Details_Accessorio" asp-route-Name="Cinturino" asp-route-Color="Azzurro">
                    <img class="icon" src="../Pictures/Accessori/Cinturino/Azzurro.png" />
                </a>
            </span>
            <span>
                <a asp-page="Details/Details_Accessorio" asp-route-Name="Cinturino" asp-route-Color="Giallo">
                    <img class="icon" src="../Pictures/Accessori/Cinturino/Giallo.png" />
                </a>
            </span>
            <span>
                <a asp-page="Details/Details_Accessorio" asp-route-Name="Cinturino" asp-route-Color="Rosa">
                    <img class="icon" src="../Pictures/Accessori/Cinturino/Rosa.png" />
                </a>
            </span>
            <span>
                <a asp-page="Details/Details_Accessorio" asp-route-Name="Vetrino" asp-route-Color="Blu">
                    <img class="icon" src="../Pictures/Accessori/Vetrino/Blu.png" />
                </a>
            </span>
            <span>
                <a asp-page="Details/Details_Accessorio" asp-route-Name="Vetrino" asp-route-Color="Oro">
                    <img class="icon" src="../Pictures/Accessori/Vetrino/Oro.png" />
                </a>
            </span>
            <span>
                <a asp-page="Details/Details_Accessorio" asp-route-Name="Vetrino" asp-route-Color="Rosso">
                    <img class="icon" src="../Pictures/Accessori/Vetrino/Rosso.png" />
                </a>
            </span>
            <span>
                <a asp-page="Details/Details_Accessorio" asp-route-Name="Vetrino" asp-route-Color="Smeraldo">
                    <img class="icon" src="../Pictures/Accessori/Vetrino/Smeraldo.png" />
                </a>
            </span>
            <span>
                <a asp-page="Details/Details_Accessorio" asp-route-Name="Dock" asp-route-Color="Blu">
                    <img class="icon" src="../Pictures/Accessori/Dock/Blu.png" />
                </a>
            </span>
            <span>
                <a asp-page="Details/Details_Accessorio" asp-route-Name="Dock" asp-route-Color="Nero">
                    <img class="icon" src="../Pictures/Accessori/Dock/Nero.png" />
                </a>
            </span>
            <span>
                <a asp-page="Details/Details_Accessorio" asp-route-Name="Dock" asp-route-Color="Rosso">
                    <img class="icon" src="../Pictures/Accessori/Dock/Rosso.png" />
                </a>
            </span>
            <span>
                <a asp-page="Details/Details_Accessorio" asp-route-Name="Dock" asp-route-Color="Silver">
                    <img class="icon" src="../Pictures/Accessori/Dock/Silver.png" />
                </a>
            </span>
        </div>
    </div>
</div>