@page
@model SerenUP.WebApp.Pages.Shop.Shop_AccessoriModel
@{
}

<div id="orologi_body" class="text-center">
    <h1 class="display-4">Rendimi più bello e più utile come non mai!</h1>
        <div>            
            <div>
                <h5 class="gold_series">Accessori universali</h5>
                <h5>Per rendere la tua esperienza di utilizzo migliore!</h5>
                <span><a asp-page="/Details/Details_Accessorio"><img class="icon" src="../Pictures/Accessori/Cinturini/Cinturino_arancione.png" /></a></span>
                <span><a asp-page="/Details/Details_Accessorio"><img class="icon" src="../Pictures/Accessori/Cinturini/Cinturino_azzurro.png" /></a></span>
                <span><a asp-page="/Details/Details_Accessorio"><img class="icon" src="../Pictures/Accessori/Cinturini/Cinturino_giallo.png" /></a></span>
                <span><a asp-page="/Details/Details_Accessorio"><img class="icon" src="../Pictures/Accessori/Cinturini/Cinturino_rosa.png" /></a></span>
                <span><a asp-page="/Details/Details_Accessorio"><img class="icon" src="../Pictures/Accessori/Vetrini/Vetrino_Blu.png" /></a></span>
                <span><a asp-page="/Details/Details_Accessorio"><img class="icon" src="../Pictures/Accessori/Vetrini/Vetrino_Oro.png" /></a></span>
                <span><a asp-page="/Details/Details_Accessorio"><img class="icon" src="../Pictures/Accessori/Vetrini/Vetrino_Rosso.png" /></a></span>
                <span><a asp-page="/Details/Details_Accessorio"><img class="icon" src="../Pictures/Accessori/Vetrini/Vetrino_Smeraldo.png" /></a></span>
                <span><a asp-page="/Details/Details_Accessorio"><img class="icon" src="../Pictures/Accessori/Dock_Ricarica/Dock_Blu.png" /></a></span>
                <span><a asp-page="/Details/Details_Accessorio"><img class="icon" src="../Pictures/Accessori/Dock_Ricarica/Dock_Nero.png" /></a></span>
                <span><a asp-page="/Details/Details_Accessorio"><img class="icon" src="../Pictures/Accessori/Dock_Ricarica/Dock_Rosso.png" /></a></span>
                <span><a asp-page="/Details/Details_Accessorio"><img class="icon" src="../Pictures/Accessori/Dock_Ricarica/Dock_Silver.png" /></a></span>
             </div>
        </div>
</div>