@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    

<div class="text-center">
    <h1 class="display-4">Welcome to SerenUp Shop</h1>
        <span>
            <a asp-page="Shop/Shop_Orologi"><button id="orologi_btn" class="index_btn"></button></a>
            <a asp-page="Shop/Shop_Accessori"><button id="accessori_btn" class="index_btn"></button></a>
        </span>
</div>
