@page "{model}/{color}"
@model SerenUP.Intranet.Pages.WatchDetailModel
@{
}

<center>
<form  class="row g-3 w-25" method="PUT">

    <div style="width:200px;">
         <a asp-page="Details/WatchDetail">
            <img style="width:100%;" class="icon_details" src=@Model.Link>
         </a>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <label class="form-label" >Model:</label>
            </div>
              <div class="col">
                  <input type="text" class="form-control" value="@Model.Watch.Model" />
            </div>
        </div>

         <div class="row">
            <div class="col">
                <label class="form-label" >Price:</label>
            </div>
              <div class="col">
                  <input type="text" class="form-control" value="@Model.Watch.Price" />
            </div>
        </div>

         <div class="row">
            <div class="col">
                <label class="form-label" >Color:</label>
            </div>
              <div class="col">
                  <input type="text" class="form-control" value="@Model.Watch.Color" />
            </div>
        </div>
          
         <div class="row">
             <div class="col">
                <button type="submit" class="btn btn-primary mb-3  mt-3">
                     <a asp-page="../ProductList">
                                    Return
                     </a>
                </button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary mb-3  mt-3">Update</button>
            </div>
        </div>
       
    </div>
</form>
</center>

