body {
    margin: 0;
    text-align:center;
}

    .credenziali-username,
    .credenziali-password {
        background-color: white;
        border-radius: 50px;
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 50px;
    }

    .container-info {
        margin-bottom: 10px;
    }

    .col-md-5.offset-md-3 {
        margin-left: 28%;
    }

    .logo-name {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        color: black;
    }
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;

}

    .form {
        align-content: center;
        align-items: center;
        text-align: center;
        min-height: 350px;
    }

    .credenziali-gruppo {
        width: 100%;
    }

    .container-info p {
        text-align: center;
        text-transform: uppercase;
        font-size: 25px;
    }

.btn-input {
    background-color: #e2a751;
    font-size: 25px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

    .container-btn-input {
        text-align: center;
        margin-top: 20px;
    }

    .barra-sopra {
        background: url(../Immagini/Logo.png);
    }

    .label-remember {
        padding-top: 15px;
    }

    /*Personalizzazione pagina LOGIN - FINE*/

    /*Personalizzazione pagina LISTA PRODOTTI - INIZIO*/

    .elementi-tabella {
        display: inline-flex;
        vertical-align: middle;
    }

    .media.align-items-lg-center.flex-column.flex-lg-row.p-3 {
        display: inline-block;
    }


    btn-input:hover {
        background-color: darkorange;
    }

    [type=button]:not(:disabled),
    [type=reset]:not(:disabled),
    [type=submit]:not(:disabled),
    button:not(:disabled) {
        cursor: pointer;
        text-transform: uppercase;
    }

    .btn-disponibilita {
        left: 1107px;
        top: 254px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        align-items: center;
        color: #FFFFFF;
        background-color: #47F42B;
        border-radius: 50px;
        padding-left: 6px;
        padding-right: 6px;
    }

    .btn-disponibilita p,
    .btn-indisponibilita p {
        display: flex;
        vertical-align: middle;
    }

    .btn-indisponibilita {
        left: 1107px;
        top: 254px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 29px;
        align-items: center;
        color: rgb(255, 255, 255);
        background-color: red;
        padding-left: 15px;
        padding-right: 6px;
        padding-top: 10px;
        border-radius: 50px;
        position: sticky;
        margin-top: -61px;
    }

    a.col-md-1.nav-link.text-dark {
        display: contents;
    }
    /*Personalizzazione pagina LISTA PRODOTTI - FINE*/

    /*Personalizzazione pagina DETTAGLIO PRODOTTO - INIZIO*/

    li, ul {
        list-style-type: none;
    }

    #forgot-password {
        color: #0d6efd;
        text-decoration: underline;
        text-align: center;
    }

    .descrizione-label {
        margin-left: 6.3%;
        width: 47%;
    }

    a {
        color: white;
        text-decoration: none
    }

.icone-accesso {
    width: 100%;
    margin: 50px;
}

#icona-magazzino {
    padding-bottom: 30px;
}

p.text-center.align-middle.font-weight-bold {
    margin-top: 10px;
}

.font-weight-bold {
    font-size: 20px;
    font-weight: 900;
}

