html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.credenziali-username,
.credenziali-password {
    /*width: 300px;
    
    left: 200px;
    top: 200px;*/
    background: #F0F0F0;
    border-radius: 50px;
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 50px;
}

.riquadro {
    position: absolute;
    bottom: 108px;
    /*background: rgba(235, 235, 225, 0.25);*/
    background-color: #EBEBE166;
    border-radius: 50px;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: nowrap;
}

.container-info {
    margin-bottom: 10px;
}

.col-md-5.offset-md-3 {
    margin-left: 28%;
}

.logo {
    /*width: 180px;
    height: 180px;
    margin-left: 40px;*/
}

.form {
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 350px;
}

.credenziali-gruppo {
    /*background-color:red;*/
}

.container-info p {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}



@media(min-width: 1200px) {
    .logo {
        width: 260px;
        height: 200px;
        margin-left: 60px;
    }
}

.btn-input {
    background-color: #f0f0f0;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 0px 20px;
}

.container-btn-input {
    text-align: center;
    margin-top: 20px;
}

.barra-sopra {
    background: url(../Immagini/Logo.png);
}

/*Personalizzazione pagina LOGIN - FINE*/

/*Personalizzazione pagina LISTA PRODOTTI - INIZIO*/

.elementi-tabella {
    display: inline-flex;
    vertical-align: middle;
}

.media.align-items-lg-center.flex-column.flex-lg-row.p-3 {
    display: inline-block;
}

.font-uppercase {
    text-transform: uppercase;
}

.btn-disponibilita {
    /*position: absolute;*/
    /*width: 326px;*/
    left: 1107px;
    top: 254px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    align-items: center;
    color: #FFFFFF;
    background-color: #47F42B;
    border-radius: 50px;
    padding-left: 6px;
    padding-right: 6px;
}

    /*.btn-disponibilita:before {*/
    /*content: url("data:image/svg+xml;%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2347F42B%22%20class%3D%22bi%20bi-check-circle%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M8%2015A7%207%200%201%201%208%201a7%207%200%200%201%200%2014zm0%201A8%208%200%201%200%208%200a8%208%200%200%200%200%2016z%22%2F%3E%3Cpath%20d%3D%22M10.97%204.97a.235.235%200%200%200-.02.022L7.477%209.417%205.384%207.323a.75.75%200%200%200-1.06%201.06L6.97%2011.03a.75.75%200%200%200%201.079-.02l3.992-4.99a.75.75%200%200%200-1.071-1.05z%22%2F%3E%3C%2Fsvg%3E");*/
    /*vertical-align: middle;
    }*/

    .btn-disponibilita p,
    .btn-indisponibilita p {
        display: flex;
        vertical-align: middle;
    }




.btn-indisponibilita {
    left: 1107px;
    top: 254px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: red;
    padding-left: 15px;
    padding-right: 6px;
    padding-top: 10px;
    border-radius: 50px;
    position: sticky;
    margin-top: -61px;
}

/*.btn-disponibilita [disabled] {
    color:black;
    background-color:red
}
*/

.list-group-item {
    /*background-color: #EBEBE140;*/
}
/*Personalizzazione pagina LISTA PRODOTTI - FINE*/

/*Personalizzazione pagina DETTAGLIO PRODOTTO - INIZIO*/

li, ul {
    list-style-type: none;
    /*Personalizzazione pagina DETTAGLIO PRODOTTO - FINE*/
}
