html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


@media(min-width: 600px) {
    .logo {
        width: 200px;
        height: 200px;
        
    }

    .credenziali-username,
    .credenziali-password {
        background: #F0F0F0;
        border-radius: 50px;
        margin-top: 30px;
        display: block;
        width: 100%;
        height: 50px;
        margin-left: 10px;
    }

    .riquadro {
        position: absolute;
        bottom: 108px;
        background-color: #EBEBE166;
        border-radius: 50px;
        height: 61%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .container-info {
        margin-bottom: 10px;
    }

    .col-md-5.offset-md-3 {
        margin-left: 28%;
    }

    .logo-name {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
    }

    .form {
        align-content: center;
        align-items: center;
        text-align: center;
        min-height: 350px;
    }

    .credenziali-gruppo {
        width: 100%;
    }

    .container-info p {
        text-align: center;
        text-transform: uppercase;
        font-size: 25px;
    }

    .btn-input {
        background-color: #f0f0f0;
        font-size: 20px;
        text-align: center;
        border-radius: 10px;
        padding: 0px 20px;
        color: white;
        font-weight: 600;
    }

    .container-btn-input {
        text-align: center;
        margin-top: 20px;
    }

    .barra-sopra {
        background: url(../Immagini/Logo.png);
    }

    /*Personalizzazione pagina LOGIN - FINE*/

    /*Personalizzazione pagina LISTA PRODOTTI - INIZIO*/

    .elementi-tabella {
        display: inline-flex;
        vertical-align: middle;
    }

    .media.align-items-lg-center.flex-column.flex-lg-row.p-3 {
        display: inline-block;
    }

    .font-uppercase {
    }

    .btn-input {
        background-color: #e2a751;
    }

        .btn-input:hover {
            background-color: darkorange;
        }

    [type=button]:not(:disabled),
    [type=reset]:not(:disabled),
    [type=submit]:not(:disabled),
    button:not(:disabled) {
        cursor: pointer;
        text-transform: uppercase;
    }

    .btn-disponibilita {
        left: 1107px;
        top: 254px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        align-items: center;
        color: #FFFFFF;
        background-color: #47F42B;
        border-radius: 50px;
        padding-left: 6px;
        padding-right: 6px;
    }


        .btn-disponibilita p,
        .btn-indisponibilita p {
            display: flex;
            vertical-align: middle;
        }

    .btn-indisponibilita {
        left: 1107px;
        top: 254px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 29px;
        align-items: center;
        color: rgb(255, 255, 255);
        background-color: red;
        padding-left: 15px;
        padding-right: 6px;
        padding-top: 10px;
        border-radius: 50px;
        position: sticky;
        margin-top: -61px;
    }

    /*Personalizzazione pagina LISTA PRODOTTI - FINE*/

    /*Personalizzazione pagina DETTAGLIO PRODOTTO - INIZIO*/

    li, ul {
        list-style-type: none;
    }

    .row > .col-md-4 offset-2 riquadro {
        margin-left: 20%;
    }

    .row {
        margin-top: 10%;
    }

    #forgot-password {
        color: #0d6efd;
        text-decoration: underline;
        text-align: center;
    }
    a{
        color: white;
        text-decoration: none
    }
}
